$red: #ff0000;
$blue: #002D62;
$gray: #F4ECFF;
$white: #ffffff;
$black: #000000;
$green: #1b7d0e;
$yellow: #e4c527;
$menuColor: rgba(37, 65, 87, 0.99);
$hhh: #34495e;

$redActive: #db5454;
$blueActive: #a5bfee;
$grayActive: #e2e2e2;
$BlackActive: #545151;
$backgroundColor: #ffffff;
$spanColor: #7000FF;
$darkBlue: #350079;
$transparent: transparent;


